<?xml version='1.0' encoding='utf-8'?>

<widget version="1.0.0">
    <name>MänsBesucher</name>
    <description>
        Registriert über QR-Code die Besucher der Konzerte von den Männerstimmen Basel.
    </description>
    <author email="jonas.balsiger@me.com">
        Jonas Balsiger
    </author>

    <!-- General settings -->
    <preference name="target-device"              value="universal" />  <!-- all os: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                 value="true" />       <!-- all os: hides the status bar at the top of the screen -->
    <preference name="webviewbounce"              value="false" />      <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
    <preference name="show-splash-screen-spinner" value="false" />      <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->
    <preference name="auto-hide-splash-screen"    value="true" />       <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->

    <!-- Plugins -->
    <!-- Core plugins -->
    <plugin name="cordova-plugin-device" spec="2.0.2" />
    <plugin name="cordova-plugin-device-orientation" spec="2.0.1" />
    <plugin name="cordova-plugin-splashscreen" spec="5.0.2" />
    <plugin name="cordova-plugin-statusbar" spec="2.4.2" />
    <plugin name="cordova-plugin-camera" spec="5.0.0" />
  
    <content src="index.html" />
    <access origin="*"/>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <!-- Icons and Splashscreens-->
    <platform name="android">
      <allow-intent href="market:*" />
      <icon density="ldpi" src="res/icon/android/ldpi.png"/>
      <icon density="mdpi" src="res/icon/android/mdpi.png"/>
      <icon density="hdpi" src="res/icon/android/hdpi.png"/>
      <icon density="xhdpi" src="res/icon/android/xhdpi.png"/>
      <icon density="xxhdpi" src="res/icon/android/xxhdpi.png"/>
      <icon density="xxxhdpi" src="res/icon/android/xxxhdpi.png"/>

      <splash density="port-ldpi" src="res/screen/android/splash-port-ldpi.png"/>
      <splash density="port-mdpi" src="res/screen/android/splash-port-mdpi.png"/>
      <splash density="port-hdpi" src="res/screen/android/splash-port-hdpi.png"/>
      <splash density="port-xhdpi" src="res/screen/android/splash-port-xhdpi.png"/>
      <splash density="port-xxhdpi" src="res/screen/android/splash-port-xxhdpi.png"/>
      <splash density="port-xxxhdpi" src="res/screen/android/splash-port-xxxhdpi.png"/>
    </platform>

</widget>
